body {
  width: 600px;
  text-align: center;
  margin: auto;
  background-color: chocolate;
  padding-top: 90px;
}
button {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#increment-btn {
  background-color: rgb(139, 61, 5);
}
#save-btn {
  background: darkgreen;
}
/* #tapping-test-header {
  margin-top: 90px;
} */
